// COLORS
$color-primary: #c7a454;
$color-primary-light: #fbd989;
$color-primary-dark: #7d6033;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-height: 8rem;
$gutter-width: 6rem;